.alert-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.alert-content {
  background-color:  rgba(30, 122, 102, 0.9);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 300px;
}

.changePasswordButton1 {
  cursor: pointer;
  font: inherit;
  background-color: rgba(245, 157, 55, 0.7);
  border: rgba(245, 157, 55, 0.7);
  border-radius: 10px;
  padding: 0.2rem 2rem;
  font-size: 20px;
  margin-top: 60px;
}

.changePasswordButton2 {
  cursor: pointer;
  font: inherit;
  background-color: rgba(245, 157, 55, 0.7);
  border: rgba(245, 157, 55, 0.7);
  border-radius: 10px;
  padding: 0.2rem 2rem;
  font-size: 20px;
  margin-top: 20px;
}

.inputNewPassword {
  top: 20px;
}

.disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}