.authPage {
    background-color: rgba(172, 162, 162, 0.3);
    height: 150vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login {
    background-color:  rgba(0, 114, 89, 0.5);
    height: 45vh;
    width: 50vh;
    border-radius: 2cm;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.signUp h2 {
    text-align: center;
    font-size: 30px;
    padding: 30px 0px 20px 0px;
    pointer-events: none;
}

.signUp {
    background-color: rgba(0, 114, 89, 0.5);
    height: 75vh;
    width: 50vh;
    border-radius: 2cm;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.textField div {
    width: 250px;
    margin-bottom: 15px;
}

.actions {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    cursor: pointer;
    font: inherit;
    background-color: rgba(245, 157, 55, 0.7);
    border: rgba(245, 157, 55, 0.7);
    border-radius: 10px;
    padding: 0.2rem 2rem;
    font-size: 20px;
}

.actions button:hover {
    background-color: #d87c12;
    border-color: #d87c12;
}

.error {
    color: rgb(190, 2, 2);
    font-size: 20px;
    padding-top: 10px;
}

.secondButton {
    cursor: pointer;
    font: inherit;
    font-size: 20px;
}
